@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  padding: 2.4rem;
  background-color: #f2f2f2;
}

.hero {
  width: 39.5rem;
  padding: 2.25rem;
  border-radius: 1.2rem;
  background-color: white;
}
.hero__img {
  width: 35rem;
  margin-bottom: 1.6rem;
}
.hero__img img {
  width: 100%;
  border-radius: 1.2rem;
}
.hero__name {
  font-size: 2.4rem;
  color: #4f4f4f;
}
.hero__position {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 1.4rem;
  color: #828282;
}
.hero__contact {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
.hero__contact-logo {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__contact .one-logo {
  background-image: url(../assets/logos/email.svg);
}
.hero__contact .two-logo {
  background-image: url(../assets/logos/phone.svg);
}
.hero__contact__contact-text {
  font-size: 1.2rem;
  color: #4f4f4f;
}
.hero__text {
  width: 30rem;
  font-size: 1.6rem;
  color: #828282;
}

.frontend,
.design {
  width: 39.5rem;
  margin-top: 2.4rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
}
.frontend__title,
.design__title {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #4f4f4f;
}
.frontend__skill,
.design__skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35.5rem;
}
.frontend__skill progress,
.design__skill progress {
  width: 24.5rem;
  height: 1.6rem;
}
.frontend__skill p,
.design__skill p {
  font-size: 1.4rem;
  color: #4f4f4f;
}
.frontend__skill:not(:last-child),
.design__skill:not(:last-child) {
  margin-bottom: 0.8rem;
}

.jobs {
  width: 39.5rem;
  margin-top: 2.4rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
}
.jobs__title {
  margin-bottom: 3.2rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #4f4f4f;
}
.jobs__item {
  display: flex;
  justify-content: space-between;
}
.jobs__item-img {
  width: 6rem;
}
.jobs__item-img img {
  width: 100%;
}
.jobs__item-info {
  width: 24rem;
}
.jobs__item-info small {
  display: block;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #828282;
}
.jobs__item-info h3 {
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  color: #333333;
}
.jobs__item-info p {
  font-size: 1.5rem;
  color: #828282;
}
.jobs__item:not(:last-child) {
  margin-bottom: 3.2rem;
}

.hobbies {
  width: 39.5rem;
  margin-top: 2.4rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
  background-color: #ffffff;
}
.hobbies__title {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #4f4f4f;
}
.hobbies__item {
  width: 35rem;
}
.hobbies__item-img {
  width: 100%;
  height: 13rem;
  margin-bottom: 0.8rem;
}
.hobbies__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  object-fit: cover;
}
.hobbies__item-title {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  color: #333333;
}
.hobbies__item-text {
  font-size: 1.4rem;
  color: #828282;
}
.hobbies__item:not(:last-child) {
  margin-bottom: 2.4rem;
}

.projects {
  width: 79rem;
  margin-top: 2.4rem;
}
.projects__title, .projects__item {
  padding: 2.4rem;
  border-radius: 1.2rem;
  color: #4f4f4f;
  background-color: #ffffff;
}
.projects__item:not(:last-child) {
  margin-bottom: 2.4rem;
}
.projects__title {
  height: 4.6rem;
  margin-bottom: 2.4rem;
  padding: 1.4rem 2.4rem;
}
.projects__item {
  display: flex;
  justify-content: space-between;
}
.projects__item-img {
  width: 24rem;
  height: 20.1rem;
}
.projects__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  object-fit: cover;
}
.projects__item-info {
  width: 46rem;
}
.projects__item-info .info__hash {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  color: #4f4f4f;
}
.projects__item-info .info__title {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  color: #333333;
}
.projects__item-info .info__text {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  color: #828282;
}
.projects__item-info .info__buttons .button {
  width: 11.8rem;
  height: 3.6rem;
  margin-right: 1.4rem;
  border: none;
  border-radius: 0.8rem;
  outline: none;
}
.projects__item-info .info__buttons .button:hover {
  cursor: pointer;
}
.projects__item-info .info__buttons .button__one {
  color: #ffffff;
  background-color: #2f80ed;
}
.projects__item-info .info__buttons .button__two {
  color: #2f80ed;
  border: 1px solid #2f80ed;
  background-color: #ffffff;
}

.blogs {
  width: 79rem;
  margin-top: 2.4rem;
}
.blogs__title, .blogs__entries {
  padding: 2.4rem;
  border-radius: 1.2rem;
  color: #4f4f4f;
  background-color: #ffffff;
}
.blogs__title {
  height: 4.6rem;
  margin-bottom: 2.4rem;
  padding: 1.4rem 2.4rem;
}
.blogs__entries {
  display: flex;
  justify-content: space-between;
}
.blogs__entries-info {
  width: 32.5em;
}
.blogs__entries-info .info__type {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  color: #828282;
}
.blogs__entries-info .info__title {
  width: 13.8rem;
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  color: #333333;
}
.blogs__entries-info .info__text {
  margin-bottom: 1.4rem;
  font-size: 1.4rem;
  color: #828282;
}
.blogs__entries-info .info__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #2f80ed;
}
.blogs__entries-img {
  width: 36.5rem;
}
.blogs__entries-img img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
