.frontend,
.design {
  width: 39.5rem;
  height: fit-content;
  padding: 2.4rem;
  border-radius: 1.2rem;
  background-color: $color-white;
  &__title {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: $color-gray-two;
  }
  &__skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35.5rem;
    progress {
      width: 24.5rem;
      height: 1.6rem;
    }
    p {
      font-size: 1.4rem;
      color: $color-gray-two;
    }
  }
  &__skill:not(:last-child) {
    margin-bottom: 0.8rem;
  }
}
